html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', monospace;
  font-size: 18px;
  color: #121212;
  background-color: white;
}

html,
body,
div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

figure {
  margin: 0;
  padding: 0;
}

a {
  color: #2468FF;
  text-decoration: none;
}
a:hover {
  color: #2468FF;
  text-decoration: underline;
}
a.nostyle {
  color: #121212;
  text-decoration: none;
}
a.nostyle:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}


.brandgreen {
  color: #C6FF00;
}
.brandblue {
  color: #2468FF;
}


.container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 1rem;
}


.panel {
  display: block;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo,
.logotype {
  line-height: 0;
}
.logo img {
  width: 52px;
  height: auto;
  border-radius: 10px;
}
.logotype img {
  width: 38px;
  height: auto;
}


.rfp-sticky {
  position: sticky;
  bottom: 0px;
  padding: 1rem 0;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, .1);
}


.reviews {
  list-style: none;
  padding: 0;
  margin: 0;
}
.review {
  margin-bottom: 3rem;
  margin-right: 1.5rem;
  margin-left: 0;
}
.review:nth-child(even) {
  margin-right: 0;
  margin-left: 1.5rem;
}
.review blockquote {
  margin: 0;
}
.review cite {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 2rem;
}
.review:nth-child(even) cite {
  text-align: right;
  margin-left: 2rem;
  margin-right: 0;
}


.picklist {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  list-style: none;
}
.picklist a {
  display: flex;
  position: relative;
  background-color: #f0f0f0;
  padding: .75rem 1rem;
  margin: 0 0 10px;
  border-radius: 5px;
}
.picklist a li {}
.picklist a:after {
  position: absolute;
  right: 1rem;
  top: .65em;
  content: "→"; /* Alt code for right caret */
  margin-left: auto;
}
.picklist a:hover {
  background-color: #e5e5e5;
}


.iconlist {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.iconlist li {
  display: flex;
  align-items: center;
  padding: 8px;
}
.yeslist li::before {
  content: "\2714";
  display: inline-block;
  background-color: #C6FF00;
  color: black;
  border-radius: 100%;
  font-size: 1em;
  font-weight: bold;
  width: 14px;
  height: 14px;
  line-height: 14px;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}
.nolist li::before {
  content: "\2716"; /* X mark alt code */
  display: inline-block;
  background-color: #FF0049;
  color: white;
  border-radius: 100%;
  font-size: 1em;
  font-weight: bold;
  width: 14px;
  height: 14px;
  line-height: 14px;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}


/* forms */
form {
  font-size: 16px;
  font-family: 'Space Grotesk', monospace;
}
.form-group,
.form-group label,
.form-control {
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Space Grotesk', monospace;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label,
.form-checkbox > label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* form control styles */
/* TODO STYLE FORM INPUTS SO CONSISTENT ACROSS BROWSERS
// CURRENTLY VARIABLE ACROSS BROWSERS  */

.form-control {
  padding: 5px 8px;
}
button.form-control {
  padding: 5px 10px;
}

@media (max-width: 575px) {
  .form-control {
    width: 100%;
  }
}
/* styles for checkbox and radio form elements */
.form-checkbox {
  margin-bottom: 10px;
}
.form-checkbox > label {
  display: block;
  width: 100%;
}
.form-checkbox .form-checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-checkbox .form-checkbox-group:first-of-type {
  margin-top: 10px;
}
.form-checkbox .form-checkbox-group:last-of-type {
  margin-bottom: 15px;
}
.form-checkbox .form-checkbox-group label {
  margin-left: 5px;
}
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  margin: 0;
  padding: 0;
  position: relative;
}
.form-checkbox .form-checkbox-group input {
  margin-right: 5px;
}
.form-checkbox-group+.form-checkbox-group {
  margin-top: 10px;
}
/* form help text */
.form-help-text {
  display: block;
  margin-top: 2.5px;
  color: #999;
  font-size: .9rem;
}
/* drag and drop container */
.drag-drop-container {
  border: 2px dashed rgba(0,0,0,.1);
  cursor: pointer;
  border-radius: 4px;
  padding: 30px 20px;
  text-align: center;
  background-color: rgba(0,0,0,.05);
  position: relative;
  width: 100%;
}
.drag-drop-container:hover {
  border-color: rgba(0,0,0,.25);
}
.drag-drop-container.dragover {
  border-color: #6c63ff;
  background-color: #f0f0ff;
}
.drag-drop-container input[type="file"] {
  display: none;
}
.drag-drop-container .text {
  margin: 10px 0;
}

.drag-drop-files {
  margin: 20px 0;
  font-style: italic;
}
.drag-drop-files a.remove-file {
  display: block;
  margin-top: 3px;
  color: red;
  cursor: pointer;
  text-decoration: none;
}


.img-3pack {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px); /* Two equal columns with gap adjustment */
  grid-template-rows: 1fr 1fr;   /* Two rows for the second column */
  gap: 20px; /* Gap between images */
  height: auto; /* Full height of the viewport or parent container */
}
.img-3pack img {
  border-radius: 12px;
}
.img-3pack img:nth-child(1) {
  grid-column: 1 / 2; /* First image takes the first column */
  grid-row: 1 / 3;    /* Spans both rows (full height) */
  object-fit: cover;
  width: 100%;
  height: 100%
}
.img-3pack img:nth-child(2),
.img-3pack img:nth-child(3) {
  grid-column: 2 / 3; /* Second column for the next two images */
  object-fit: cover;
  width: 100%;
  height: 100%
}
.img-3pack img:nth-child(2) {
  grid-row: 1 / 2; /* Second image in the first row of the second column */
}

.img-3pack img:nth-child(3) {
  grid-row: 2 / 3; /* Third image in the second row of the second column */
}
